body {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

button, a {
  border: 2px solid white;
  padding: 15px 30px;
  font-size: 100%;
  background: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 15px;
  transition: all 150ms ease-in-out;
  outline: none;
}

button:active, a:active {
  background: white;
  color: dodgerblue;
}